/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-family-base: "EB Garamond", serif;
$font-family-lead: "Muli", sans-serif;

$body-bg: #f5f7fa;

$link-color: #000;
