.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.side {
  @extend .d-flex;
  @extend .flex-column;
  @extend .py-3;
  @extend .pr-4;
  @extend .pl-5;

  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  font-size: 0.75rem;
}

.side .nav {
  @extend .d-flex;
  @extend .flex-column;
}

.side .menu-item {
  @extend .mt-2;
}

.side a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.side .brand {
  font-family: "Baybayin", serif;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: $yellow;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $yellow;
  }
}

.side .contact {
  @extend .mt-auto;
}
